# Ignore everything



# Un-ignore specific files and directories
!.gitignore
!README.md
!flowchart.png

# Un-ignore directories that might contain .py files
client_secrets.json
deployment.sh
project_plan.txt
.vscode/
.cursor/
custom_dags/
plans/
src_pipeline/